/**
*
*   Librerías
*
**/
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//Bootstrap Icons
@import '~bootstrap-icons/font/bootstrap-icons';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

.logo {
    width: 90px;
}


/**
*
*   Vista Ajustes
*
**/
img {
    width: 3rem;
}

.ajustes-text>h1 {
    color: $darkblue;
    margin-top: 10px;
}

.temperatura-text {
    color: $darkblue;
}

.text-darkblue {
    color: $darkblue;
}

/**
*
*   Vista Inicio
*
**/

* {
    z-index: 10;
}

nav {
    position: relative;
    z-index: 15;
}

.bg-dark-blue {
    background-color: $darkblue;
}

p,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
}

h2 {
    font-size: 1.2rem;
}

.text-white {
    color: $white;
}

.svg {
    width: 100%;
}

.landing {
    width: 100%;
    height: 100%;
}

.rounded-graphic {
    border-radius: 2%;
}

.img-covid img {
    top: 5px;
    opacity: 30%;
    width: 550px;
}

.img-covid {
    position: absolute;
    overflow: hidden;
    width: 410px;
    height: 600px;
    z-index: 5;
    right: 0px;
    top: 30px;
}

@media (min-width: 1200px) {

    .img-covid img {
        opacity: 30%;
        height: 400px;
    }

    .img-covid {
        position: absolute;
        overflow: hidden;
        width: 400px;
        height: 600px;
        z-index: 5;
        right: 0px;
        top: 30px;
    }

    canvas {
        width: 100%;
    }
}

@media (min-width: 992px) {

    .img-covid img {
        opacity: 30%;
        height: 700px;
    }

    .img-covid {
        position: absolute;
        overflow: hidden;
        width: 400px;
        height: 700px;
        z-index: 5;
        right: 0px;
        top: 30px;
    }

    canvas {
        width: 100%;
    }
}

@media (max-width: 992px) {

    .img-covid img {
        opacity: 30%;
        height: 600px;
    }

    .img-covid {
        position: absolute;
        overflow: hidden;
        width: 400px;
        height: 600px;
        z-index: 5;
        right: 0px;
        top: 30px;
    }

    canvas {
        height: 380px;
    }
}

@media (min-width: 768px) {
    .img-covid img {
        opacity: 30%;
        height: 620px;
    }

    .img-covid {
        position: absolute;
        overflow: hidden;
        width: 380px;
        height: 620px;
        z-index: 5;
        right: 0px;
        top: 30px;
    }

    h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {

    .img-covid img {
        top: 5px;
        opacity: 30%;
        width: 500px;
    }

    .img-covid {
        position: absolute;
        overflow: hidden;
        width: 350px;
        height: 550px;
        z-index: 5;
        right: 0px;
        top: 50px;
    }

    h2 {
        font-size: 1.4rem;
    }

    canvas {
        width: 100%;
    }
}

@media (min-width: 376px) {
    .img-covid img {
        top: 5px;
        opacity: 30%;
        height: 500px;
    }

    .img-covid {
        position: absolute;
        overflow: hidden;
        width: 250px;
        height: 550px;
        z-index: 5;
        right: 0px;
        right: 0px;
        top: 30px;
    }

    h2 {
        font-size: 1.4rem;
    }

    canvas {
        width: 100%;
    }
}
.text-titulo{//titulo div fotografias
    font-size: 25px;
}
main{
    height: 100%;
    flex-wrap: wrap;
    min-height: calc(100vh - 155px);
}

footer{
    align-self: flex-end;
}
